# Build
bin/
obj/
.env.*

# Visual Studio
*.user
*.suo
*.vscode/

# JetBrains Rider
.idea/

# Paquetes
*.nupkg
packages/

# Logs
*.log

# Configuración local
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
secrets.json
